# Stripe
STRIPE_API_KEY=key
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=key
STRIPE_WEBHOOK_SECRET=key
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

# GitHub
GITHUB_CLIENT_ID=key
GITHUB_CLIENT_SECRET=key

#FaunaDB
FAUNADB_KEY=key